.player-wrapper {
	display: grid;
}

.player-wrapper.--left {
	grid-template-columns: auto var(--player-sidebar-focused-player-highlight-width) var(--player-sidebar-additional-stats-width);
	grid-template-areas: 'player focused-player-highlight additional-stats';
}

.player-wrapper.--right {
	grid-template-columns: var(--player-sidebar-additional-stats-width) var(--player-sidebar-focused-player-highlight-width) auto;
	grid-template-areas: 'additional-stats focused-player-highlight player';
}

.player {
	grid-area: player;

	display: grid;
	grid-template-rows: repeat(2, var(--player-sidebar-row-height));

	background: rgba(0, 0, 0, 0.4);
	filter: var(--filter-drop-shadow);
	font-size: 1.8rem;
	isolation: isolate;

	--start-and-end-width: 0.5rem;
	--health-width: 5rem;
	--observer-slot-width: 1.5rem;
	--money-width: 7rem;
	--kills-width: 4.5rem;
	--deaths-width: var(--kills-width);
	--taser-width: 4rem;
	--grenades-half-width: 1fr;
	--round-kills-width: 1fr;
	--primary-and-secondary-width: 1fr;
}

.player.--left {
	grid-template-columns:
		var(--start-and-end-width)
		var(--health-width)
		var(--observer-slot-width)
		var(--money-width)
		var(--kills-width)
		var(--deaths-width)
		var(--taser-width)
		var(--grenades-half-width)
		var(--round-kills-width)
		var(--primary-and-secondary-width)
		var(--start-and-end-width);
	grid-template-areas:
		'start    health       observer-slot    name     name     name      name     name        round-kills    primary      end'
		'start    equipment    equipment        money    kills    deaths    taser    grenades    grenades       secondary    end';
}

.player.--right {
	grid-template-columns:
		var(--start-and-end-width)
		var(--primary-and-secondary-width)
		var(--round-kills-width)
		var(--grenades-half-width)
		var(--taser-width)
		var(--kills-width)
		var(--deaths-width)
		var(--money-width)
		var(--observer-slot-width)
		var(--health-width)
		var(--start-and-end-width);
	grid-template-areas:
		'start primary round-kills name name name name name observer-slot health end'
		'start secondary grenades grenades taser kills deaths money equipment equipment end';
}

.player-wrapper:not(:last-child) {
	margin-bottom: 0.5rem;
}
