<img v-if="$round.phase === 'paused'" class="paused-icon" src="/hud/img/icons/pause.svg" alt="">

<div v-else-if="$bomb.isPlanted" class="bomb">
	<img class="planted-bomb-icon" src="/hud/img/icons/planted-bomb.svg" alt="">

	<img v-if="$bomb.bombsite === 'a'" class="bombsite-icon --a" src="/hud/img/icons/bombsite-a.svg" alt="">
	<img v-else-if="$bomb.bombsite === 'b'" class="bombsite-icon --b" src="/hud/img/icons/bombsite-b.svg" alt="">
</div>

<div v-else :class="['clock', { '--red': isClockRed }]">
	<Digits :value="clockMinutes" digits="1"></Digits>:<Digits :value="clockSeconds" digits="2" pad="0"></Digits>
</div>
