.clock {
	grid-area clock

	display flex
	align-items center
	flex-direction column
	justify-content space-evenly
	background rgba(#000, .5)

	.time {
		flsize(1.75rem, 1)

		&.--red {
			color $red
		}

		.warmup {
			flsize(1.5rem, 1.1667)

			color #fff
			letter-spacing .15em
			text-transform uppercase
		}

		.digit {
			display inline-block
		}
	}

	.round-no {
		flsize(1.1rem, 1)
	}

	.images {
		center()
	}

	img,
	svg {
		display block
		height 1.75rem
		margin 0 .4rem
	}

	.img:not(.--c4) svg {
		transform scale(.9)
	}
}
