.first-to-rounds {
	center()
	flsize(1.1rem, 1.5)
	grid-area firstToRounds

	letter-spacing .3em
	overflow hidden
	text-transform uppercase
	transition transform .3s ease

	&:not(.--active) {
		transform scaleX(1.05)

		> * {
			transform translateY(-100%)
			opacity 0
		}
	}

	&:not(.map-no + .first-to-rounds) {
		transform scaleX(1.065)

		.inner {
			transform scaleX(1.00075)
		}

		&:not(.--active) {
			transform scaleX(1.135)

			.inner {
				transform translateY(-100%) scaleX(1.00075)
			}
		}
	}

	> * {
		transform-origin top
		transition opacity .3s ease, transform .3s ease
	}

	.inner {
		background rgba(#000, .5)
		flex 1
	}

	.diagonal-wrapper {
		height 100%
		overflow hidden
	}

	.diagonal {
		background rgba(#000, .5)

		width 1rem
		height 100%

		&.--left {
			transform skewX(20deg) translateX(.4rem)
		}

		&.--right {
			transform skewX(-20deg) translateX(-.45rem)
		}
	}
}
