.special {
	position absolute
	overflow hidden

	&.--left {
		top 4rem
		left 0
		right 50%
	}

	&.--right {
		top 4rem
		left 50%
		right 0

		> *:not(.tactical-timeout-wrapper),
		.tactical-timeout-wrapper .tactical-timeout {
			flex-direction row-reverse
			margin-left auto
		}
	}

	&.--ct {
		.inner {
			background rgba($ct, .5)
		}

		.diagonal {
			background $ct
		}
	}

	&.--t {
		.inner {
			background rgba($t, .5)
		}

		.diagonal {
			background $t
		}
	}

	> *:not(.tactical-timeout-wrapper),
	.tactical-timeout-wrapper .tactical-timeout {
		display flex
		position relative
		transition opacity .3s ease, transform .3s ease

		&:not(.--active) {
			opacity 0
			transform translateY(-100%) !important
		}
	}

	@require 'special/progress-bar'
	@require 'special/diagonal'

	@require 'special/bomb-timer'
	@require 'special/match-point'
	@require 'special/tactical-timeout'
}
