.team-color-patch {
	leftRightArea()
	display flex
	z-index 2

	&.--left {
		.inner {
			transform translateX(-.75rem) skewX(20deg)
		}
	}

	&.--right {
		justify-content flex-end

		.inner {
			transform translateX(.75rem) skewX(-20deg)
		}
	}

	.inner {
		teamBackground()
		width 1.5rem
		height 100%
	}
}
