.focused-player {
	position: fixed;
	bottom: var(--viewport-margin-bottom);
	left: calc((100% - var(--focused-player-width)) / 2);
	right: calc((100% - var(--focused-player-width)) / 2);

	display: grid;
	grid-template-columns: 16fr 35fr 16fr;

	filter: var(--filter-drop-shadow);
}
