.progress-bar-background {
	width: 100%;
	height: 0.6rem;
	background: rgba(255, 255, 255, 0.5);
	overflow: hidden;
}

.progress-bar-fill {
	height: 100%;
}

.progress-bar-fill.--to-left,
.progress-bar-fill.--left {
	transform-origin: left;
}

.progress-bar-fill.--to-right,
.progress-bar-fill.--right {
	transform-origin: right;
}

.progress-bar-fill.--ct {
	background: var(--counter-terrorists);
}

.progress-bar-fill.--t {
	background: var(--terrorists);
}

.progress-bar-fill.--bomb {
	background: var(--progress-bar-fill-color-bomb);
}
