.top-bar {
	position: fixed;
	top: var(--viewport-margin-top);
	left: calc((100% - var(--top-bar-width)) / 2);
	right: calc((100% - var(--top-bar-width)) / 2);

	display: grid;
	grid-template-columns: 20fr 13fr 20fr;
	align-items: start;

	filter: var(--filter-drop-shadow);
	text-align: center;
}
