section {
	margin-bottom: 6rem;
}

section:first-of-type {
	margin-top: 2rem;
}

@media (max-width: 1299px) {
	section:first-of-type {
		margin-top: 6rem;
	}
}

section header {
	margin: 0 1rem 2rem;
}

@media (min-width: 600px) {
	section header {
		margin-left: 4rem;
	}
}

section header p {
	max-width: 48rem;
	margin-top: 0.5rem;
}

.save-buttons {
	position: fixed;
	top: 0;
	right: 0;
	padding: 1rem 2rem;

	background: #212121;
}

@media (max-width: 599px) {
	.save-buttons {
		left: 0;

		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.save-buttons button {
	margin: 0.5rem;
	padding: 0.5rem 1rem;

	background: none;
	border: 1px solid;
	color: inherit;
	cursor: pointer;
	font: inherit;
	transition:
		background-color 0.3s ease,
		color 0.3s ease,
		transform 0.3s ease;
}

.save-buttons button:active {
	transform: scale(0.95);
}

.save-buttons button.save {
	border-color: green;
}

.save-buttons button.save:hover {
	background: green;
	color: #fff;
}

.save-buttons button.force-hud-refresh {
	border-color: yellow;
}

.save-buttons button.force-hud-refresh:hover {
	background: yellow;
	color: #212121;
}

.input-group {
	margin-bottom: 2.5rem;
	padding: 0 1rem;

	display: grid;
	grid-template-areas: 'key' 'input' 'default-and-label';
	grid-gap: 0.5rem;
}

@media (min-width: 600px) {
	.input-group {
		grid-template-columns: minmax(0, 24rem) repeat(2, minmax(0, 48rem));
		grid-template-rows: max-content auto;
		grid-template-areas: 'key input default-and-label 0' '1 1 default-and-label 2';
		grid-gap: 0 1rem;
		align-items: start;
	}
}

.input-group label {
	grid-area: key;
	display: block;
	align-self: center;
}

@media (min-width: 600px) {
	.input-group label {
		text-align: right;
	}
}

.input-group > input,
.input-group .input {
	grid-area: input;
}

.input-group .default-and-label {
	grid-area: default-and-label;
	align-self: center;
}

.input-group .default-and-label p {
	margin: 0 0 0.25rem;
}

.input-group .default-and-label .default code {
	background: #000;
	padding: 0.25rem 0.5rem;
}

input[type='text'] {
	padding: 0.4rem 1rem;

	background: rgba(255, 255, 255, 0.05);
	border: 1px solid #aeaeae;
	color: #dedede;
	font: inherit;
}

input[type='text']::placeholder {
	color: #939393;
}
