@require 'normalize'
@require 'vars'
@require 'flag'

@require 'base'
@require 'config'
@require 'digit'
@require 'focused-player'
@require 'minimap'
@require 'pip'
@require 'players-alive'
@require 'round-graph'
@require 'round-winner'
@require 'series'
@require 'series-map'
@require 'sidebar'
@require 'top-bar'
@require 'weapon-icon'

@require 'animations/generic-background'
@require 'animations/logo'
@require 'animations/marquee'
@require 'animations/series'
@require 'animations/skillgroups'

@require 'animations/post-match-outro/post-match-outro'
@require 'animations/pre-match-intro/pre-match-intro'
