@require 'normalize'
@require 'vars'
@require 'flag'

@require 'base'
@require 'config'
@require 'digit'
@require 'focused-player'
@require 'minimap'
@require 'pip'
@require 'players-alive'
@require 'round-graph'
@require 'round-winner'
@require 'series'
@require 'series-map'
@require 'sidebar'
@require 'top-bar'
@require 'weapon-icon'
