*, *::after, *::before {
	box-sizing border-box
	margin 0
	padding 0
}

html {
	font-size 62.5%

	&.hud {
		font-size calc(10vh / 10.8)
	}
}

body {
	font 1.6rem/1.5em 'Quantico', 'Source Sans Pro', sans-serif
	text-align center
}

.container {
	position relative
	height 100vh
	margin auto
	overflow hidden

	&,
	* {
		cursor none
	}

	.corner {
		position absolute
		width 4rem
		height 4rem

		&.--top {
			top 0
			border-top .5rem solid rgba(#000, .5)
		}

		&.--bottom {
			bottom 0
			border-bottom .5rem solid rgba(#000, .5)
		}

		&.--left {
			left 0
			border-left .5rem solid rgba(#000, .5)
		}

		&.--right {
			right 0
			border-right .5rem solid rgba(#000, .5)
		}
	}
}
