*, *::after, *::before {
	margin 0
	padding 0

	box-sizing border-box
	// cursor none // TODO
}

html {
	font-size 62.5%
}

body {
	font 1.6rem/1.5em 'Source Sans Pro', sans-serif
	text-align center
}
