*, *::after, *::before {
	box-sizing border-box
	margin 0
	padding 0
}

html {
	font-size 62.5%

	&.hud {
		font-size calc(10vh / 10.8)
	}
}

body {
	font 1.6rem/1.5em 'Source Sans Pro', sans-serif
	text-align center
}

.container {
	position relative
	height 100vh
	margin auto

	&,
	* {
		cursor none
	}
}
