.config-window {
	display flex
	justify-content space-between

	min-width 100vw
	min-height 100vh
	padding 2rem 4rem

	background #21
	color #ae

	&.--mirrored {
		flex-direction row-reverse

		.minimap-wrapper {
			margin-left 2rem
		}
	}

	.minimap-wrapper {
		center()
		justify-content flex-start
		flex-grow 1
	}

	.minimap {
		height 100%

		img {
			height 100%
			object-fit contain
		}
	}
}

.config {
	text-align left

	h1 {
		margin 0
	}

	.buttons,
	.primary-team {
		margin 2rem 0
	}

	.match {
		display grid
		grid-template-columns 1fr 4fr 2fr 2fr 2fr 2fr
		margin-top 2rem

		.number {
			flsize(3rem, 1)
		}

		.centered {
			center()
		}
	}

	label {
		&:not(.inline) {
			display block
		}
	}

	input {
		&[type='checkbox'] {
			margin-right 1rem
		}

		&[type='number'],
		&[type='text'] {
			background none
			color inherit
			border .1rem solid #ae
			padding .8rem 1.5rem
		}

		&[type='number'] {
			width calc(6ch + 3rem)
		}
	}

	textarea {
		background none
		color inherit
		border .1rem solid #ae
		padding .8rem 1.5rem

		width 100%
		min-height (3em * 1.5)
		resize vertical
	}

	button {
		padding 1rem 2rem
		background none
		color inherit
		border .2rem solid #ae
		cursor pointer
		transition background .3s ease, color .3s ease

		&:active,
		&:hover {
			background #ae
			color #21
		}
	}
}
