.config-window {
	min-width 100vw
	min-height 100vh
	padding 2rem 4rem

	background #21
	color #ae
	text-align left

	.minimap-wrapper {
		center()

		height 100vh
		position fixed
		top 0
		left 0
		bottom 0
		right 0
		pointer-events none
	}

	.minimap {
		height 100%
		text-align center

		img {
			height 100%
			object-fit contain
		}
	}

	header {
		width 100%

		display flex
		flex-wrap wrap
		justify-content space-between
		align-items center

		margin-bottom 2rem

		h1 {
			margin 0 2rem 0 0
		}

		nav ul {
			list-style none
			display flex

			button {
				border-top none
				border-left none
				border-right none
			}
		}
	}

	.buttons,
	.primary-team {
		margin 2rem 0
	}

	.match {
		display grid
		grid-template-columns 1fr 4fr 2fr 2fr 2fr 2fr
		margin-top 2rem

		.number {
			flsize(3rem, 1)
		}

		.centered {
			center()
		}
	}

	.input-group {
		&:not(:last-child) {
			margin-bottom 2rem
		}
	}

	label {
		&:not(.inline) {
			display block
			margin-bottom .5rem
		}
	}

	input {
		&[type='checkbox'] {
			margin-right 1rem
		}

		&[type='number'],
		&[type='text'] {
			background none
			color inherit
			border .1rem solid #ae
			padding .8rem 1.5rem
		}

		&[type='number'] {
			width calc(6ch + 3rem)
		}
	}

	textarea {
		background none
		color inherit
		border .1rem solid #ae
		padding .8rem 1.5rem

		width 100%
		min-height (3em * 1.5)
		resize vertical
	}

	button {
		padding 1rem 2rem
		background none
		color inherit
		border .2rem solid #ae
		cursor pointer
		transition background .3s ease, border-color .3s ease, color .3s ease

		&:active,
		&:hover,
		&.active {
			background #ae
			color #21
		}

		&.green {
			background green
			border-color green
			color #fff
		}

		&.choose-file {
			margin-right 1rem
			padding .5rem 1.5rem
			border-width 1px
		}
	}
}
