flag() {
	&.--horizontal-flag {
		background-position center
		background-size contain
	}

	&.--vertical-flag {
		background-position center
		background-repeat no-repeat
		background-size cover
	}

	&.--unusual-flag {
		background-position 15% 30%
		background-repeat no-repeat
		background-size 25%
	}
}
