.focused-player {
	position absolute
	bottom 2rem
	left 35%
	right 35%

	display grid
	grid-template-columns 1fr 1.5fr 1fr
	grid-template-rows auto max-content max-content
	grid-template-areas 'avatar 0 0' 'avatar name 1' 'life stats ammo'

	color #fff

	.name {
		grid-area name
		background rgba(#000, .75)
		flsize(2rem, 1)
		teamColors()
		padding 1rem

		display grid
		grid-template-columns 1fr 5fr

		img {
			grid-area 1/1
			max-height 3rem
			filter drop-shadow(0 0 .5rem rgba(#fff, .5))
		}

		.label {
			display flex
			align-items center
			grid-area 1/2
			flsize(2.25rem, 1)
			text-align left
			padding-left 1rem
		}
	}

	.life {
		grid-area life
		teamBackground()

		display grid
		grid-template-columns 1fr 1fr
		padding 1rem

		img {
			height 2rem
		}

		.hp,
		.armor {
			display flex
			align-items center
		}

		.number {
			flsize(2.5rem, 1)
			width calc(3ch + .5rem)
			padding-left .5rem
			text-align right
		}
	}

	.stats {
		grid-area stats

		display grid
		grid-template-columns 1fr 1.5fr 1rem 1fr 1fr 1fr
		grid-template-rows max-content max-content
		grid-template-areas '0 round-damageL 1 killsL assistsL deathsL' 'round-kills round-damageN 1 killsN assistsN deathsN'

		background rgba(#000, .5)
		padding .5rem 1rem
		flsize(2.5rem, 1)

		.label {
			teamColors()
			flsize(1.25rem, 1)

			gridarea($name) {
				&.--{$name} {
					grid-area $name + 'L'
				}
			}

			gridarea(round-damage)
			gridarea(kills)
			gridarea(assists)
			gridarea(deaths)
		}

		.number {
			gridarea($name) {
				&.--{$name} {
					grid-area $name + 'N'
				}
			}

			gridarea(round-damage)
			gridarea(kills)
			gridarea(assists)
			gridarea(deaths)
		}

		.round-kills {
			grid-area round-kills
			center()
			justify-content flex-start

			img {
				height 1.75rem
			}

			.number {
				padding-left .5rem
			}
		}
	}

	.ammo-utility {
		grid-area ammo

		display grid
		grid-template-columns .5fr 2fr 1.2fr
		grid-template-areas 'bomb grenades ammo'
		background rgba(#000, .75)
		padding .5rem 1rem

		img {
			height 2.5rem
			margin 0 .5rem

			&.grenade {
				margin-bottom .5rem
			}

			&:not(.--active),
			&.--active + .--active {
				opacity .6
			}

			&:first-child {
				margin-left 0
			}

			&:last-child {
				margin-right 0
			}
		}

		.bomb {
			center()
		}

		.grenades {
			grid-area grenades
			display flex
			align-items center
			justify-content flex-start
		}

		.ammo {
			grid-area ammo
			display flex
			align-items center
			justify-content flex-end
		}

		.ammo-current {
			flsize(2.5rem, 1)
		}

		.ammo-reserve {
			teamColors()
			line-height 1
		}
	}
}
