.focused-player {
	position absolute
	bottom $generalPaddingY
	left $generalPaddingX
	right $generalPaddingX

	display flex
	align-items flex-end
	justify-content center

	color #fff
	filter drop-shadow(0 0 .4rem rgba(#000, .5))
	transition opacity .3s ease

	&:not(.--active) {
		opacity 0
	}

	@require 'focused-player/shared-ammo-life'
	@require 'focused-player/ammo'
	@require 'focused-player/center'
	@require 'focused-player/life'
}
