// z-index: 1 grenades, 2 bomb, 3 dead player, 4 alive player, 5 focused player

.container .minimap {
	position absolute
	top 2rem
	left 4rem
	right calc(76.25% + 2rem)
}

.config-window .minimap {
	position relative
}

.minimap {
	// $diameter = 1.7rem
	$diameter = 1.574vh

	img {
		max-width 100%
	}

	.bomb,
	.grenade,
	.player-dot {
		position absolute
		top ($diameter / -2)
		left ($diameter / -2)

		width $diameter
		height $diameter

		display grid
		grid-template-columns $diameter
		grid-template-rows $diameter

		> * {
			grid-area 1/1
		}

		&:not(.--dead) {
			&.--lower {
				opacity .75
			}
		}
	}

	.player-dot {
		color #fff
		flsize(($diameter - .1175 * $diameter), 1)
		transition opacity .3s ease, transform .1s ease

		&:not(.--dead) {
			teamBackground()

			border-radius 50%
			z-index 4

			&.--focused {
				box-shadow 0 0 1rem .5rem #fff
				z-index 5
			}

			&.--bomb {
				background $red
			}
		}

		&.--dead {
			z-index 3

			path {
				stroke #000
				stroke-width .2rem
			}

			&.--t path {
				fill $t
			}

			&.--ct path {
				fill $ct
			}

			svg {
				height 100%
			}
		}

		.triangle-circle {
			position absolute
			top 0
			left 0

			center()
			width $diameter
			height $diameter

			border .1rem solid #fff
			border-radius 50%
		}

		.triangle {
			transform translateY(($diameter * -1 + .5rem))

			width 0
			height 0

			border-left ($diameter / 4) solid transparent
			border-right ($diameter / 4) solid transparent
			border-bottom ($diameter / 2) solid #fff
		}
	}

	.grenade {
		z-index 1

		&.--smoke {
			background rgba(#999, .75)
			border-radius 50%
		}

		&.--t path {
			fill $t
		}

		&.--ct path {
			fill $ct
		}

		svg {
			height 100%
		}
	}

	.bomb {
		z-index 2
		center()

		&.--dropped path,
		&.--planting path {
			fill $t
		}

		&.--planted path,
		&.--defusing path {
			fill $red
		}

		&.--defused path {
			fill $ct
		}

		svg {
			height 2.25rem
		}
	}
}
