.round-graph {
	position absolute
	bottom 20.3rem
	left 30.25%
	right 30.25%

	color #fff
	transition opacity .5s ease

	&:not(.--active) {
		opacity 0
	}

	.match-point-wrapper {
		display grid
		grid-template-columns 1fr 1fr
		grid-gap 1rem
		margin-bottom .5rem

		.match-point {
			teamBackground()
			flsize(2.5rem, 1)
			padding 1.5rem
		}
	}

	.heading,
	.rounds {
		background rgba(#000, .5)
	}

	.heading {
		flsize(2rem, 1.5)
	}

	.rounds {
		display flex

		&.--ot {
			.round:nth-child(3) {
				border-right .1rem solid rgba(#fff, .75)
			}
		}

		.round {
			teamColors()
			flsize(2rem, 1)

			padding .5rem 0 1rem
			flex 1 1 0

			&.--null {
				background rgba(#fff, .25)

				+ .--null {
					background none
				}
			}
		}

		.colored-bar {
			teamBackground()
			height .5rem
			margin .5rem 0 1rem

			&.--null {
				background rgba(#fff, .75)
			}
		}

		.image {
			height 3.2rem

			&.--t path {
				fill $t
			}

			&.--ct path {
				fill $ct
			}

			svg {
				height 100%
			}
		}
	}
}
