.round-graph {
	flsize(2.6rem, 1)

	display flex
	background rgba(#000, .5)

	&.--ot {
		.round:nth-child(3) {
			border-right .1rem solid rgba(#fff, .75)
		}
	}

	.round {
		teamColors()
		flsize(1.25rem, 1)

		padding .25rem 0 .7rem
		flex 1 1 0

		&.--null {
			background rgba(#fff, .25)

			+ .--null {
				background none
			}
		}
	}

	.colored-bar {
		teamBackground()
		height .2rem
		margin .25rem 0 .5rem

		&.--null {
			background rgba(#fff, .75)
		}
	}

	.image {
		height 2.4rem

		&.--t path {
			fill $t
		}

		&.--ct path {
			fill $ct
		}

		svg {
			height 100%
		}
	}
}
