.round-winner {
	img.flag {
		max-width 100%
		filter drop-shadow(0 0 .5rem rgba(#fff, .5))
	}

	.text {
		justify-content center !important
	}

	.label {
		teamColors()
		font-size 4rem !important
		line-height 1
	}

	.info {
		flsize(2.25rem, 1)
	}
}
