.series {
	position absolute
	bottom $generalPaddingY
	left $generalPaddingX
	right $generalPaddingX

	display flex
	align-items flex-end

	color #fff
	filter drop-shadow(0 0 .4rem rgba(#000, .5))
	transition opacity .5s ease, transform .5s ease

	&:not(.--active) {
		opacity 0
		transform translateY(5rem)
	}

	.match {
		flex 1

		&.--currently-playing {
			flex 3

			~ .match .map {
				filter grayscale(.75) brightness(.75)
			}
		}
	}

	.result {
		flsize(2.6rem, 1)

		display flex
		justify-content space-evenly
		align-items center

		background rgba(#000, .5)
		padding .5rem 1rem

		img {
			height 2.4rem
		}
	}

	.inner {
		display grid

		background rgba(#000, .5)
		text-shadow 0 0 1rem rgba(#000, .75)

		> * {
			grid-area 1/1
		}

		.text {
			padding 2rem
			z-index 1
		}

		.map-name {
			flsize(3rem, 1)
			margin-bottom 2rem
			text-transform capitalize
		}

		.pick-heading {
			flsize(1.2rem, 1.25)
			text-transform uppercase
			letter-spacing .4em
		}

		.pick-team {
			flsize(1.5rem, 1.25)
		}
	}

	.map {
		opacity .6
	}

	.winner-flag-background {
		opacity .25

		&.--horizontal-flag {
			background center
			background-size contain
		}

		&.--vertical-flag,
		&.--unusual-flag {
			background center no-repeat
			background-size cover
		}
	}
}
