.series {
	.map {
		background rgba(#000, .25) center no-repeat
		background-size cover

		&.--ar_baggage {
			background-image url('https://csgo.drweissbrot.net/images/ar_baggage.jpg')
		}

		&.--ar_dizzy {
			background-image url('https://csgo.drweissbrot.net/images/ar_dizzy.jpg')
		}

		&.--ar_lunacy {
			background-image url('https://csgo.drweissbrot.net/images/ar_lunacy.jpg')
		}

		&.--ar_monastery {
			background-image url('https://csgo.drweissbrot.net/images/ar_monastery.jpg')
		}

		&.--ar_shoots {
			background-image url('https://csgo.drweissbrot.net/images/ar_shoots.jpg')
		}

		&.--coop_autumn {
			background-image url('https://csgo.drweissbrot.net/images/coop_autumn.jpg')
		}

		&.--coop_kasbah {
			background-image url('https://csgo.drweissbrot.net/images/coop_kasbah.jpg')
		}

		&.--cs_agency {
			background-image url('https://csgo.drweissbrot.net/images/cs_agency.jpg')
		}

		&.--cs_apollo {
			background-image url('https://csgo.drweissbrot.net/images/cs_apollo.jpg')
		}

		&.--cs_assault {
			background-image url('https://csgo.drweissbrot.net/images/cs_assault.jpg')
		}

		&.--cs_cruise {
			background-image url('https://csgo.drweissbrot.net/images/cs_cruise.jpg')
		}

		&.--cs_downtown {
			background-image url('https://csgo.drweissbrot.net/images/cs_downtown.jpg')
		}

		&.--cs_insertion {
			background-image url('https://csgo.drweissbrot.net/images/cs_insertion.jpg')
		}

		&.--cs_italy {
			background-image url('https://csgo.drweissbrot.net/images/cs_italy.jpg')
		}

		&.--cs_militia {
			background-image url('https://csgo.drweissbrot.net/images/cs_militia.jpg')
		}

		&.--cs_motel {
			background-image url('https://csgo.drweissbrot.net/images/cs_motel.jpg')
		}

		&.--cs_museum {
			background-image url('https://csgo.drweissbrot.net/images/cs_museum.jpg')
		}

		&.--cs_office {
			background-image url('https://csgo.drweissbrot.net/images/cs_office.jpg')
		}

		&.--cs_rush {
			background-image url('https://csgo.drweissbrot.net/images/cs_rush.jpg')
		}

		&.--cs_seaside {
			background-image url('https://csgo.drweissbrot.net/images/cs_seaside.jpg')
		}

		&.--cs_thunder {
			background-image url('https://csgo.drweissbrot.net/images/cs_thunder.jpg')
		}

		&.--cs_workout {
			background-image url('https://csgo.drweissbrot.net/images/cs_workout.jpg')
		}

		&.--de_abbey {
			background-image url('https://csgo.drweissbrot.net/images/de_abbey.jpg')
		}

		&.--de_ali {
			background-image url('https://csgo.drweissbrot.net/images/de_ali.jpg')
		}

		&.--de_ancient {
			background-image url('https://csgo.drweissbrot.net/images/de_ancient.jpg')
		}

		&.--de_anubis {
			background-image url('https://csgo.drweissbrot.net/images/de_anubis.jpg')
		}

		&.--de_austria {
			background-image url('https://csgo.drweissbrot.net/images/de_austria.jpg')
		}

		&.--de_aztec {
			background-image url('https://csgo.drweissbrot.net/images/de_aztec.jpg')
		}

		&.--de_bank {
			background-image url('https://csgo.drweissbrot.net/images/de_bank.jpg')
		}

		&.--de_bazaar {
			background-image url('https://csgo.drweissbrot.net/images/de_bazaar.jpg')
		}

		&.--de_biome {
			background-image url('https://csgo.drweissbrot.net/images/de_biome.jpg')
		}

		&.--de_blackgold {
			background-image url('https://csgo.drweissbrot.net/images/de_blackgold.jpg')
		}

		&.--de_breach {
			background-image url('https://csgo.drweissbrot.net/images/de_breach.jpg')
		}

		&.--de_cache {
			background-image url('https://csgo.drweissbrot.net/images/de_cache.jpg')
		}

		&.--de_calavera {
			background-image url('https://csgo.drweissbrot.net/images/de_calavera.jpg')
		}

		&.--de_canals {
			background-image url('https://csgo.drweissbrot.net/images/de_canals.jpg')
		}

		&.--de_castle {
			background-image url('https://csgo.drweissbrot.net/images/de_castle.jpg')
		}

		&.--de_cbble {
			background-image url('https://csgo.drweissbrot.net/images/de_cbble.jpg')
		}

		&.--de_chlorine {
			background-image url('https://csgo.drweissbrot.net/images/de_chlorine.jpg')
		}

		&.--de_coast {
			background-image url('https://csgo.drweissbrot.net/images/de_coast.jpg')
		}

		&.--de_dust2 {
			background-image url('https://csgo.drweissbrot.net/images/de_dust2.jpg')
		}

		&.--de_dust {
			background-image url('https://csgo.drweissbrot.net/images/de_dust.jpg')
		}

		&.--de_elysion {
			background-image url('https://csgo.drweissbrot.net/images/de_elysion.jpg')
		}

		&.--de_empire {
			background-image url('https://csgo.drweissbrot.net/images/de_empire.jpg')
		}

		&.--de_engage {
			background-image url('https://csgo.drweissbrot.net/images/de_engage.jpg')
		}

		&.--de_facade {
			background-image url('https://csgo.drweissbrot.net/images/de_facade.jpg')
		}

		&.--de_favela {
			background-image url('https://csgo.drweissbrot.net/images/de_favela.jpg')
		}

		&.--de_guard {
			background-image url('https://csgo.drweissbrot.net/images/de_guard.jpg')
		}

		&.--de_inferno {
			background-image url('https://csgo.drweissbrot.net/images/de_inferno.jpg')
		}

		&.--de_lake {
			background-image url('https://csgo.drweissbrot.net/images/de_lake.jpg')
		}

		&.--de_library {
			background-image url('https://csgo.drweissbrot.net/images/de_library.jpg')
		}

		&.--de_lite {
			background-image url('https://csgo.drweissbrot.net/images/de_lite.jpg')
		}

		&.--de_marquis {
			background-image url('https://csgo.drweissbrot.net/images/de_marquis.jpg')
		}

		&.--de_mikla {
			background-image url('https://csgo.drweissbrot.net/images/de_mikla.jpg')
		}

		&.--de_mirage {
			background-image url('https://csgo.drweissbrot.net/images/de_mirage.jpg')
		}

		&.--de_mist {
			background-image url('https://csgo.drweissbrot.net/images/de_mist.jpg')
		}

		&.--de_mutiny {
			background-image url('https://csgo.drweissbrot.net/images/de_mutiny.jpg')
		}

		&.--de_nuke {
			background-image url('https://csgo.drweissbrot.net/images/de_nuke.jpg')
		}

		&.--de_overgrown {
			background-image url('https://csgo.drweissbrot.net/images/de_overgrown.jpg')
		}

		&.--de_overpass {
			background-image url('https://csgo.drweissbrot.net/images/de_overpass.jpg')
		}

		&.--de_royal {
			background-image url('https://csgo.drweissbrot.net/images/de_royal.jpg')
		}

		&.--de_ruby {
			background-image url('https://csgo.drweissbrot.net/images/de_ruby.jpg')
		}

		&.--de_safehouse {
			background-image url('https://csgo.drweissbrot.net/images/de_safehouse.jpg')
		}

		&.--de_santorini {
			background-image url('https://csgo.drweissbrot.net/images/de_santorini.jpg')
		}

		&.--de_seaside {
			background-image url('https://csgo.drweissbrot.net/images/de_seaside.jpg')
		}

		&.--de_season {
			background-image url('https://csgo.drweissbrot.net/images/de_season.jpg')
		}

		&.--de_shipped {
			background-image url('https://csgo.drweissbrot.net/images/de_shipped.jpg')
		}

		&.--de_shortdust {
			background-image url('https://csgo.drweissbrot.net/images/de_shortdust.jpg')
		}

		&.--de_shortnuke {
			background-image url('https://csgo.drweissbrot.net/images/de_shortnuke.jpg')
		}

		&.--de_stmarc {
			background-image url('https://csgo.drweissbrot.net/images/de_stmarc.jpg')
		}

		&.--de_studio {
			background-image url('https://csgo.drweissbrot.net/images/de_studio.jpg')
		}

		&.--de_subzero {
			background-image url('https://csgo.drweissbrot.net/images/de_subzero.jpg')
		}

		&.--de_sugarcane {
			background-image url('https://csgo.drweissbrot.net/images/de_sugarcane.jpg')
		}

		&.--de_swamp {
			background-image url('https://csgo.drweissbrot.net/images/de_swamp.jpg')
		}

		&.--de_thrill {
			background-image url('https://csgo.drweissbrot.net/images/de_thrill.jpg')
		}

		&.--de_train {
			background-image url('https://csgo.drweissbrot.net/images/de_train.jpg')
		}

		&.--de_tulip {
			background-image url('https://csgo.drweissbrot.net/images/de_tulip.jpg')
		}

		&.--de_vertigo {
			background-image url('https://csgo.drweissbrot.net/images/de_vertigo.jpg')
		}

		&.--de_zoo {
			background-image url('https://csgo.drweissbrot.net/images/de_zoo.jpg')
		}

		&.--dz_blacksite {
			background-image url('https://csgo.drweissbrot.net/images/dz_blacksite.jpg')
		}

		&.--dz_frostbite {
			background-image url('https://csgo.drweissbrot.net/images/dz_frostbite.jpg')
		}

		&.--dz_junglety {
			background-image url('https://csgo.drweissbrot.net/images/dz_junglety.jpg')
		}

		&.--dz_sirocco {
			background-image url('https://csgo.drweissbrot.net/images/dz_sirocco.jpg')
		}

		&.--gd_rialto {
			background-image url('https://csgo.drweissbrot.net/images/gd_rialto.jpg')
		}

		&.--lobby_mapveto {
			background-image url('https://csgo.drweissbrot.net/images/lobby_mapveto.jpg')
		}

		&.--training {
			background-image url('https://csgo.drweissbrot.net/images/training.jpg')
		}

		&.--x_default {
			background-image url('https://csgo.drweissbrot.net/images/random.jpg')
		}
	}
}
