.sidebar {
	position absolute
	bottom $generalPaddingY

	filter drop-shadow(0 0 .4rem rgba(#000, .5))
	transition transform .5s ease

	&.--left {
		left $generalPaddingX
	}

	&.--right {
		right $generalPaddingX

		.economy,
		.utility {
			margin-left auto
		}
	}

	&.--series-active {
		$seriesHeight = 17.9rem
		transform translateY(-($seriesHeight + 1rem))
	}

	.economy,
	.utility {
		width 70.75% // TODO should probably not be hardcoded
	}

	@require 'sidebar/economy'
	@require 'sidebar/player'
	@require 'sidebar/utility'
}
