.sidebar {
	position absolute
	bottom 2rem

	&.--left {
		left 4rem
		right calc(69.75% + 2rem)
	}

	&.--right {
		right 4rem
		left calc(69.75% + 2rem)

		.wrapper {
			grid-template-columns 1fr .5rem 2fr

			> * {
				grid-area 1/3
			}
		}

		.series-name {
			text-align right
		}

		.economy {
			flex-direction row-reverse
		}
	}

	$economyHeight = 7.5rem
	$utilityHeight = 7.8rem

	&:not(.--stats-active) .wrapper .economy,
	&:not(.--utility-active) .wrapper .utility {
		transform translateY(calc(100% + .5rem))
		opacity 0
	}

	&:not(.--stats-active) .wrapper.--utility {
		transform translateY(calc(100% + .2rem))
	}

	&.--stats-active:not(.--utility-active) .wrapper.--series-name > * {
		transform translateY($utilityHeight + .5rem)
	}

	&:not(.--stats-active) .wrapper.--series-name > * {
		transform translateY($economyHeight + .5rem)
	}

	&:not(.--utility-active) .wrapper.--series-name > * {
		transform translateY($economyHeight + $utilityHeight + 1rem)
	}

	.wrapper {
		display grid
		grid-template-columns 2fr .5rem 1fr
		margin-bottom .5rem

		&:not(.--series-name) {
			overflow hidden
		}

		&.--utility {
			transition transform 1s ease
		}

		> * {
			grid-area 1/1
			transition transform 1s ease, opacity .75s ease

			background rgba(#000, .75)
			color #fff
		}
	}

	.series-name {
		padding 1rem 2rem
		text-align left
		font-weight 600
		white-space pre-wrap
	}

	.utility {
		padding .5rem 2rem

		.heading {
			teamColors()
			padding-bottom .5rem
		}

		.grenades {
			display flex

			&.--t path {
				fill $t
			}

			&.--ct path {
				fill $ct
			}

			svg {
				height 3rem
				width 100%
			}

			.grenade {
				center()
				flex-grow 1
				flsize(2.5rem, 1)

				.img {
					margin 0 .5rem .5rem
					transform scale(1.2)
				}
			}

			.count {
				width 2ch
				text-align right
				padding-left .5rem
			}
		}
	}

	.economy {
		display flex

		.loss-bonus-pips {
			grid-area lbpips
			padding .5rem 1rem
		}

		.label {
			teamColors()
			line-height 1.25
		}

		.number {
			flsize(2.5rem, 1.1)
		}

		.loss-bonus,
		.equipment-value {
			center()
			flex-direction column
			flex-grow 1
		}

		.loss-bonus {
			grid-area lb
		}

		.equipment-value {
			grid-area eq
		}
	}
}
