.top-bar-wrapper {
	position absolute
	top $generalPaddingY
	left 23.75%
	right 23.75%

	@require 'top-bar/series-name'
}

.top-bar {
	display grid
	grid-template-columns 3.25fr .35fr 1fr .35fr 3.25fr
	grid-template-areas 'left left clock right right' 'leftMeta leftMeta mapNo rightMeta rightMeta' 'leftSpecial firstToRounds firstToRounds firstToRounds rightSpecial' 'leftSpecial 0 0 0 rightSpecial'

	color #fff
	filter drop-shadow(0 0 .4rem rgba(#000, .5))
	font-size 2.5rem
	line-height 4rem

	@require 'top-bar/clock'
	@require 'top-bar/first-to-rounds'
	@require 'top-bar/flag-wrapper'
	@require 'top-bar/map-no'
	@require 'top-bar/map-wins'
	@require 'top-bar/round-wins'
	@require 'top-bar/special'
	@require 'top-bar/team-color-patch'
	@require 'top-bar/team-name'
}
