$ct = #1ea6e2
$t = #c18803
$red = red
$green = #9bae81

$generalPaddingX = 2rem
$generalPaddingY = 1.5rem

flsize($s, $m) {
	font-size $s
	line-height $s * $m
}

leftRight($name) {
	&.--left {
		grid-area $name + '1'
	}

	&.--right {
		grid-area $name + '2'
	}
}

leftRightArea($left = left, $right = right) {
	&.--left {
		grid-area $left
	}

	&.--right {
		grid-area $right
	}
}

area($name) {
	.{$name} {
		leftRight($name)
		{block}
	}
}

center() {
	display flex
	align-items center
	justify-content center
}

teamBackground($alpha = 1) {
	&.--ct {
		background rgba($ct, $alpha)
	}

	&.--t {
		background rgba($t, $alpha)
	}
}

teamColors() {
	&.--ct {
		color $ct
	}

	&.--t {
		color lighten($t, 25%)
	}
}
