.match-point {
	width 78.9%

	font-size 2.25rem
	line-height 3.55rem
	letter-spacing .5rem
	text-transform uppercase
	font-weight bold

	&.--left {
		transform translateX(.95rem)

		&:not(.--active) {
			transform translate(-.325rem, -100%) !important
		}
	}

	&.--right {
		transform translateX(-.95rem)

		&:not(.--active) {
			transform translate(.325rem, -100%) !important
		}
	}

	.inner {
		flex 1

		&.--left {
			margin 0 1.5rem 0 .5rem
		}

		&.--right {
			margin 0 .5rem 0 1.5rem
		}
	}

	.diagonal-wrapper {
		&.--inner {
			.diagonal {
				opacity .5

				&.--left {
					transform skewX(20deg) translateX(-.65rem)
				}

				&.--right {
					transform skewX(-20deg) translateX(.65rem)
				}
			}
		}

		.diagonal {
			transform skewX(20deg) translateX(-.325rem)

			&.--right {
				transform skewX(-20deg) translate(.325rem)
			}
		}
	}
}
