.progress-bar-wrapper {
	flex 1

	&.--left {
		padding .65rem .15rem .65rem 1rem
	}

	&.--right {
		padding .65rem 1rem .65rem .15rem
	}
}

.progress-bar {
	flex 1
	background rgba(#fff, .5)

	&.--left {
		transform skewX(20deg)
	}

	&.--right {
		transform skewX(-20deg)
	}

	.fill {
		teamBackground()
		height .6rem

		&.--planting {
			background $red
		}

		&.--left {
			transform-origin left
		}

		&.--right {
			transform-origin right
		}
	}
}
