.match-point:not(.--active) + .tactical-timeout-wrapper {
	transform translateY(-3.55rem)
}

.match-point.--active + .tactical-timeout-wrapper {
	.tactical-timeout {
		&.--left {
			transform translateX(2.725rem)

			&:not(.--active) {
				transform translate(.45rem, -100%) !important
			}
		}

		&.--right {
			transform translateX(-2.725rem)

			&:not(.--active) {
				transform translate(-.45rem, -100%) !important
			}
		}

		.inner {
			teamBackground()

			.progress-bar .fill {
				background #fff
			}
		}
	}

	.inner {
		max-width calc(77.6%)
	}
}

.tactical-timeout-wrapper {
	overflow hidden
	transition transform .3s ease

	.tactical-timeout {
		&.--left {
			transform translateX(1.45rem)

			&:not(.--active) {
				transform translate(-.85rem, -100%) !important
			}
		}

		&.--right {
			transform translateX(-1.45rem)

			&:not(.--active) {
				transform translate(.85rem, -100%) !important
			}
		}
	}

	.inner {
		flex 1
		max-width calc(77.5%)
		transition background-color .3s ease

		&.--left {
			transform skewX(20deg)

			> * {
				transform skewX(-20deg)
			}
		}

		&.--right {
			transform skewX(-20deg)

			> * {
				transform skewX(20deg)
			}
		}
	}

	.heading {
		flsize(2rem, 1.5)
		font-weight bold
	}

	.remaining {
		flsize(1.3rem, 1)
	}

	.progress-bar-wrapper {
		margin 0 1rem
		
		.progress-bar {
			.fill {
				transition background-color .3s ease
			}
		}
	}

	.diagonal {
		transform skewX(20deg) translateX(-.325rem)

		&.--right {
			transform skewX(-20deg) translate(.325rem)
		}
	}
}
