.ammo,
.life {
	width 30vw

	&.--ct .inner {
		background $ct
	}

	&.--t .inner {
		background $t
	}

	.inner {
		display flex
		width max-content
	}

	.number {
		display flex
		&.--red {
			color $red
		}
	}

}
