.team {
	transform-origin: top;
}

/* TODO the 1.65rem magic number breaks at aspect ratios >= ca. 2.2:1 */
.team.--left {
	transform: skewX(20deg) translateX(-1.65rem);
}

/* TODO the 1.65rem magic number breaks at aspect ratios >= ca. 2.2:1 */
.team.--right {
	transform: skewX(-20deg) translateX(1.65rem);
}

.name-wrapper,
.bomb-timer-wrapper,
.round-winner-wrapper,
.match-point-wrapper,
.timeout-wrapper {
	display: grid;
	grid-template-rows: 1fr;

	overflow: visible clip;
	transition:
		max-height var(--fade-default-duration) ease,
		transform var(--fade-default-duration) ease;
}

.name-wrapper::before,
.bomb-timer-wrapper::before,
.round-winner-wrapper::before,
.match-point-wrapper::before,
.timeout-wrapper::before {
	content: '';
	display: block;
}

.name-wrapper.--ct::before,
.bomb-timer-wrapper.--ct::before,
.round-winner-wrapper.--ct::before,
.match-point-wrapper.--ct::before,
.timeout-wrapper.--ct::before {
	background: var(--counter-terrorists);
}

.name-wrapper.--t::before,
.bomb-timer-wrapper.--t::before,
.round-winner-wrapper.--t::before,
.match-point-wrapper.--t::before,
.timeout-wrapper.--t::before {
	background: var(--terrorists);
}

.name-wrapper.--left,
.bomb-timer-wrapper.--left,
.round-winner-wrapper.--left,
.match-point-wrapper.--left,
.timeout-wrapper.--left {
	grid-template-columns: 2rem 1fr;
}

.name-wrapper.--right,
.bomb-timer-wrapper.--right,
.round-winner-wrapper.--right,
.match-point-wrapper.--right,
.timeout-wrapper.--right {
	grid-template-columns: 1fr 2rem;
}

.name-wrapper.--right::before,
.bomb-timer-wrapper.--right::before,
.round-winner-wrapper.--right::before,
.match-point-wrapper.--right::before,
.timeout-wrapper.--right::before {
	grid-area: 1/2;
}


.name-wrapper .inner,
.bomb-timer-wrapper .inner,
.round-winner-wrapper .inner,
.match-point-wrapper .inner,
.timeout-wrapper .inner {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.name,
.bomb-timer,
.round-winner,
.match-point,
.timeout {
	display: flex;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.name.--left .inner,
.bomb-timer.--left .inner,
.round-winner.--left .inner,
.match-point.--left .inner,
.timeout.--left .inner {
	transform: skewX(-20deg);
}

.name.--right .inner,
.bomb-timer.--right .inner,
.round-winner.--right .inner,
.match-point.--right .inner,
.timeout.--right .inner {
	transform: skewX(20deg);
}

.name-wrapper {
	font-size: 2.5rem;
	max-height: var(--top-bar-row-height);
}

.name {
	height: var(--top-bar-row-height);
}

.name.--ct {
	background: rgba(var(--counter-terrorists-rgb), 0.5);
}

.name.--t {
	background: rgba(var(--terrorists-rgb), 0.5);
}

.bomb-timer-wrapper {
	max-height: var(--top-bar-half-row-height);
}

.bomb-timer {
	height: var(--top-bar-half-row-height);
	padding: 0 1.75rem;
}

.round-winner-wrapper {
	max-height: var(--top-bar-row-height);
}

.round-winner {
	height: var(--top-bar-row-height);
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

.round-winner.--ct {
	background: rgba(var(--counter-terrorists-rgb), 0.7);
}

.round-winner.--t {
	background: rgba(var(--terrorists-rgb), 0.7);
}

.match-point-wrapper {
	max-height: var(--top-bar-row-height);
}

.match-point {
	height: var(--top-bar-row-height);

	font-weight: 700;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	font-size: 2.25rem;
}

.match-point.--ct {
	background: rgba(var(--counter-terrorists-rgb), 0.85);
}

.match-point.--t {
	background: rgba(var(--terrorists-rgb), 0.85);
}

.timeout-wrapper {
	max-height: calc(2 * var(--top-bar-row-height));
}

.timeout {
	height: calc(2 * var(--top-bar-row-height));
}

.timeout .inner {
	flex-direction: column;
	justify-content: space-evenly;
}

.timeout .label {
	font-size: 2.25rem;
	font-weight: 700;
}

.timeout .remaining {
	font-size: 1.75rem;
}

.timeout .progress-bar-background {
	margin-top: 0.5rem;
}

.timeout.--left .inner {
	padding: 0.5rem 1rem 0.5rem 2.5rem;
}

.timeout.--right .inner {
	padding: 0.5rem 2.5rem 0.5rem 1rem;
}

.slide-enter-active .name,
.slide-enter-active .bomb-timer,
.slide-enter-active .round-winner,
.slide-enter-active .match-point,
.slide-enter-active .timeout,
.slide-leave-active .name,
.slide-leave-active .bomb-timer,
.slide-leave-active .round-winner,
.slide-leave-active .match-point,
.slide-leave-active .timeout {
	transform-origin: top;
	transition: transform var(--fade-default-duration) ease;
}

.slide-enter-from,
.slide-leave-to {
	max-height: 0;
}

.slide-enter-from .name,
.slide-enter-from .bomb-timer,
.slide-enter-from .round-winner,
.slide-enter-from .match-point,
.slide-enter-from .timeout,
.slide-leave-to .name,
.slide-leave-to .bomb-timer,
.slide-leave-to .round-winner,
.slide-leave-to .match-point,
.slide-leave-to .timeout {
	transform: translateY(-100%);
}
