@keyframes genericBackground {
	from,
	82.5% {
		opacity 1
	}

	85%,
	to {
		opacity 0
	}
}

.generic-background {
	position absolute
	top 0
	bottom 0
	left 0
	right 0

	// background url('https://csgo.drweissbrot.net/images/de_ancient.jpg') center no-repeat
	// background-size cover
	object-fit cover
	z-index -2
}

.generic-background-blur {
	position absolute
	top 0
	bottom 0
	left 0
	right 0

	backdrop-filter blur(2rem) brightness(.5)
	z-index -1
}
