@keyframes logoShrinkInOut {
	from {
		opacity 0
		transform scale(1.05)
	}

	10%,
	55% {
		opacity 1
		transform scale(1)
	}

	60%,
	to {
		opacity 0
		transform scale(.75)
	}
}

.logo {
	position absolute
	top 0
	bottom 0
	left 0
	right 0

	display flex
	align-items center
	justify-content center

	animation logoShrinkInOut 4s ease 6s
	opacity 0

	.inner {
		display grid
		grid-template-columns 1fr max-content 1fr
		grid-template-rows auto max-content auto auto
		grid-template-areas '0 wheelchair-man 1' 'csgo wheelchair-man paralympics' '2 wheelchair-man 3' 'meta meta meta'

		color #fff
		filter drop-shadow(0 0 .5rem rgba(#fff, .25))
		font-size 3rem
		line-height 1

		.csgo,
		.paralympics {
			color orange
			font-weight 700
		}

		.csgo {
			grid-area csgo

			letter-spacing .5em
			text-align right
			text-transform uppercase
		}

		img.wheelchair-man {
			grid-area wheelchair-man

			height 10rem
			margin 0 10rem
		}

		.paralympics {
			grid-area paralympics

			font-size 6rem
			letter-spacing .3em
			line-height 1
			text-align left
			text-transform uppercase
		}

		.meta {
			grid-area meta

			display flex
			align-items center
			justify-content space-around
			margin 10rem 0 5rem

			> * {
				flex 1
			}

			.center {
				font-size 4rem
			}
		}
	}
}
