preMatchIntroSeconds(seconds) {
	return animationSeconds(seconds, 20)
}

@keyframes preMatchIntro {
	from,
	{preMatchIntroSeconds(10.75)} {
		opacity 1
		transform none
	}

	{preMatchIntroSeconds(11.25)},
	to {
		opacity 0
		transform scale(.95)
	}
}

.pre-match-intro {
	position fixed
	top 0
	bottom 0
	left 0
	right 0

	animation preMatchIntro 20s ease forwards
	z-index 10

	@require 'generic-background'
	@require 'logo'
	@require 'marquee'
	@require 'series'
	@require 'skillgroups'
}
