@keyframes animationsSkillgroupFastSlideshow {
	from {
		opacity 0
		transform scale(1.25)
	}

	{animationSeconds(.2)},
	{animationSeconds(.25)} {
		opacity 1
	}

	{animationSeconds(.2)},
	to {
		opacity 0
	}
}

@keyframes animationsSillgroupSilver1 {
	from {
		opacity 0
		transform scale(1.25)
	}

	{animationSeconds(.5, 2)} {
		opacity 1
	}

	{animationSeconds(1.2, 2)} {
		opacity 1
		transform scale(1)
	}

	{animationSeconds(1.45, 2)},
	to {
		opacity 0
		transform scale(.75)
	}
}

.skillgroups {
	position absolute
	top 0
	bottom 0
	left 0
	right 0

	display flex
	align-items center
	justify-content center

	filter drop-shadow(0 0 1rem rgba(#000, .5))

	img.skillgroup {
		position absolute
		height 20rem
		animation animationsSkillgroupFastSlideshow 1s ease .2s
		opacity 0

		for i in (2..18) {
			&:nth-child({i}) {
				animation-delay .2s + (i - 1) * .15s
			}
		}

		&:last-child {
			// animation-delay for this is 2.75s, actual duration is 1.45s = animation completely finished at 4.2s
			animation-duration 2s
			animation-name animationsSillgroupSilver1
		}
	}
}
