/* avoid editing or overriding these directly -- change the underlying variables instead */
:root {
	--black-0: rgba(var(--black-rgb), var(--opacity-0));
	--black-10: rgba(var(--black-rgb), var(--opacity-10));
	--black-20: rgba(var(--black-rgb), var(--opacity-20));
	--black-30: rgba(var(--black-rgb), var(--opacity-30));
	--black-40: rgba(var(--black-rgb), var(--opacity-40));
	--black-50: rgba(var(--black-rgb), var(--opacity-50));
	--black-60: rgba(var(--black-rgb), var(--opacity-60));
	--black-70: rgba(var(--black-rgb), var(--opacity-70));
	--black-75: rgba(var(--black-rgb), var(--opacity-75));
	--black-80: rgba(var(--black-rgb), var(--opacity-80));
	--black-85: rgba(var(--black-rgb), var(--opacity-85));
	--black-90: rgba(var(--black-rgb), var(--opacity-90));
	--black-100: rgba(var(--black-rgb), var(--opacity-100));

	--counter-terrorists-border-0: rgba(var(--counter-terrorists-border-rgb), var(--opacity-0));
	--counter-terrorists-border-10: rgba(var(--counter-terrorists-border-rgb), var(--opacity-10));
	--counter-terrorists-border-20: rgba(var(--counter-terrorists-border-rgb), var(--opacity-20));
	--counter-terrorists-border-30: rgba(var(--counter-terrorists-border-rgb), var(--opacity-30));
	--counter-terrorists-border-40: rgba(var(--counter-terrorists-border-rgb), var(--opacity-40));
	--counter-terrorists-border-50: rgba(var(--counter-terrorists-border-rgb), var(--opacity-50));
	--counter-terrorists-border-60: rgba(var(--counter-terrorists-border-rgb), var(--opacity-60));
	--counter-terrorists-border-70: rgba(var(--counter-terrorists-border-rgb), var(--opacity-70));
	--counter-terrorists-border-75: rgba(var(--counter-terrorists-border-rgb), var(--opacity-75));
	--counter-terrorists-border-80: rgba(var(--counter-terrorists-border-rgb), var(--opacity-80));
	--counter-terrorists-border-85: rgba(var(--counter-terrorists-border-rgb), var(--opacity-85));
	--counter-terrorists-border-90: rgba(var(--counter-terrorists-border-rgb), var(--opacity-90));
	--counter-terrorists-border-100: rgba(var(--counter-terrorists-border-rgb), var(--opacity-100));

	--counter-terrorists-fill-0: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-0));
	--counter-terrorists-fill-10: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-10));
	--counter-terrorists-fill-20: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-20));
	--counter-terrorists-fill-30: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-30));
	--counter-terrorists-fill-40: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-40));
	--counter-terrorists-fill-50: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-50));
	--counter-terrorists-fill-60: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-60));
	--counter-terrorists-fill-70: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-70));
	--counter-terrorists-fill-75: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-75));
	--counter-terrorists-fill-80: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-80));
	--counter-terrorists-fill-85: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-85));
	--counter-terrorists-fill-90: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-90));
	--counter-terrorists-fill-100: rgba(var(--counter-terrorists-fill-rgb), var(--opacity-100));

	--counter-terrorists-text-0: rgba(var(--counter-terrorists-text-rgb), var(--opacity-0));
	--counter-terrorists-text-10: rgba(var(--counter-terrorists-text-rgb), var(--opacity-10));
	--counter-terrorists-text-20: rgba(var(--counter-terrorists-text-rgb), var(--opacity-20));
	--counter-terrorists-text-30: rgba(var(--counter-terrorists-text-rgb), var(--opacity-30));
	--counter-terrorists-text-40: rgba(var(--counter-terrorists-text-rgb), var(--opacity-40));
	--counter-terrorists-text-50: rgba(var(--counter-terrorists-text-rgb), var(--opacity-50));
	--counter-terrorists-text-60: rgba(var(--counter-terrorists-text-rgb), var(--opacity-60));
	--counter-terrorists-text-70: rgba(var(--counter-terrorists-text-rgb), var(--opacity-70));
	--counter-terrorists-text-75: rgba(var(--counter-terrorists-text-rgb), var(--opacity-75));
	--counter-terrorists-text-80: rgba(var(--counter-terrorists-text-rgb), var(--opacity-80));
	--counter-terrorists-text-85: rgba(var(--counter-terrorists-text-rgb), var(--opacity-85));
	--counter-terrorists-text-90: rgba(var(--counter-terrorists-text-rgb), var(--opacity-90));
	--counter-terrorists-text-100: rgba(var(--counter-terrorists-text-rgb), var(--opacity-100));

	--terrorists-border-0: rgba(var(--terrorists-border-rgb), var(--opacity-0));
	--terrorists-border-10: rgba(var(--terrorists-border-rgb), var(--opacity-10));
	--terrorists-border-20: rgba(var(--terrorists-border-rgb), var(--opacity-20));
	--terrorists-border-30: rgba(var(--terrorists-border-rgb), var(--opacity-30));
	--terrorists-border-40: rgba(var(--terrorists-border-rgb), var(--opacity-40));
	--terrorists-border-50: rgba(var(--terrorists-border-rgb), var(--opacity-50));
	--terrorists-border-60: rgba(var(--terrorists-border-rgb), var(--opacity-60));
	--terrorists-border-70: rgba(var(--terrorists-border-rgb), var(--opacity-70));
	--terrorists-border-75: rgba(var(--terrorists-border-rgb), var(--opacity-75));
	--terrorists-border-80: rgba(var(--terrorists-border-rgb), var(--opacity-80));
	--terrorists-border-85: rgba(var(--terrorists-border-rgb), var(--opacity-85));
	--terrorists-border-90: rgba(var(--terrorists-border-rgb), var(--opacity-90));
	--terrorists-border-100: rgba(var(--terrorists-border-rgb), var(--opacity-100));

	--terrorists-fill-0: rgba(var(--terrorists-fill-rgb), var(--opacity-0));
	--terrorists-fill-10: rgba(var(--terrorists-fill-rgb), var(--opacity-10));
	--terrorists-fill-20: rgba(var(--terrorists-fill-rgb), var(--opacity-20));
	--terrorists-fill-30: rgba(var(--terrorists-fill-rgb), var(--opacity-30));
	--terrorists-fill-40: rgba(var(--terrorists-fill-rgb), var(--opacity-40));
	--terrorists-fill-50: rgba(var(--terrorists-fill-rgb), var(--opacity-50));
	--terrorists-fill-60: rgba(var(--terrorists-fill-rgb), var(--opacity-60));
	--terrorists-fill-70: rgba(var(--terrorists-fill-rgb), var(--opacity-70));
	--terrorists-fill-75: rgba(var(--terrorists-fill-rgb), var(--opacity-75));
	--terrorists-fill-80: rgba(var(--terrorists-fill-rgb), var(--opacity-80));
	--terrorists-fill-85: rgba(var(--terrorists-fill-rgb), var(--opacity-85));
	--terrorists-fill-90: rgba(var(--terrorists-fill-rgb), var(--opacity-90));
	--terrorists-fill-100: rgba(var(--terrorists-fill-rgb), var(--opacity-100));

	--terrorists-text-0: rgba(var(--terrorists-text-rgb), var(--opacity-0));
	--terrorists-text-10: rgba(var(--terrorists-text-rgb), var(--opacity-10));
	--terrorists-text-20: rgba(var(--terrorists-text-rgb), var(--opacity-20));
	--terrorists-text-30: rgba(var(--terrorists-text-rgb), var(--opacity-30));
	--terrorists-text-40: rgba(var(--terrorists-text-rgb), var(--opacity-40));
	--terrorists-text-50: rgba(var(--terrorists-text-rgb), var(--opacity-50));
	--terrorists-text-60: rgba(var(--terrorists-text-rgb), var(--opacity-60));
	--terrorists-text-70: rgba(var(--terrorists-text-rgb), var(--opacity-70));
	--terrorists-text-75: rgba(var(--terrorists-text-rgb), var(--opacity-75));
	--terrorists-text-80: rgba(var(--terrorists-text-rgb), var(--opacity-80));
	--terrorists-text-85: rgba(var(--terrorists-text-rgb), var(--opacity-85));
	--terrorists-text-90: rgba(var(--terrorists-text-rgb), var(--opacity-90));
	--terrorists-text-100: rgba(var(--terrorists-text-rgb), var(--opacity-100));

	--white-0: rgba(var(--white-rgb), var(--opacity-0));
	--white-10: rgba(var(--white-rgb), var(--opacity-10));
	--white-20: rgba(var(--white-rgb), var(--opacity-20));
	--white-30: rgba(var(--white-rgb), var(--opacity-30));
	--white-40: rgba(var(--white-rgb), var(--opacity-40));
	--white-50: rgba(var(--white-rgb), var(--opacity-50));
	--white-60: rgba(var(--white-rgb), var(--opacity-60));
	--white-70: rgba(var(--white-rgb), var(--opacity-70));
	--white-75: rgba(var(--white-rgb), var(--opacity-75));
	--white-80: rgba(var(--white-rgb), var(--opacity-80));
	--white-85: rgba(var(--white-rgb), var(--opacity-85));
	--white-90: rgba(var(--white-rgb), var(--opacity-90));
	--white-100: rgba(var(--white-rgb), var(--opacity-100));
}
