:root {
	/* Scale Factor (base unit for everything) */
	--base-scale-factor: 0.925925926vh; /* approximately 10px on 1080p */
	--scale-factor: var(--base-scale-factor); /* set by JavaScript to the rounded pixel value of --base-scale-factor (because CSS sometimes breaks at weird fractional pixels) */

	/* Viewport Margin */
	--viewport-margin-x: 2rem;
	--viewport-margin-y: 1.5rem;

	--viewport-margin-bottom: var(--viewport-margin-y);
	--viewport-margin-left: var(--viewport-margin-x);
	--viewport-margin-right: var(--viewport-margin-x);
	--viewport-margin-top: var(--viewport-margin-y);

	/* Focused Player */
	--focused-player-width: 50%;
	--focused-player-icon-height: 2rem;
	--focused-player-overlay-bottom-horizontal-spacing: 1.7rem;
	--focused-player-margin-bottom-with-overlay-bottom: 0;

	/* Top Bar */
	--top-bar-width: 50%;
	--top-bar-padding-x: 0.8rem;
	--top-bar-score-font-size: 3rem;
	--top-bar-team-logo-vertical-spacing: 0.5rem;
	--top-bar-team-logo-horizontal-spacing: 1.5rem;
	--top-bar-row-height: calc(2 * var(--top-bar-padding-x) + var(--top-bar-score-font-size));
	--top-bar-half-row-height: calc(var(--top-bar-row-height) / 2);

	/* Series Graph */
	--series-graph-height: 17.3rem; /* NB! This value is purely descriptive, and does not change the height of the series graph */
	--series-graph-margin-to-sidebars: var(--viewport-margin-y);

	/* Round Graph */
	--round-graph-height: 5.56rem; /* NB! This value is purely descriptive, and does not change the height of the series graph */
	--round-graph-margin-to-sidebars: var(--series-graph-margin-to-sidebars);

	/* Radar */
	--radar-width: 25%;
	--radar-inferno-flame-diameter: calc(14 / 1024 * 100%);
	--radar-smoke-diameter: calc(57.6 / 1024 * 100%);

	/* Sidebars */
	--sidebar-width: calc(var(--sidebar-player-width) + var(--sidebar-player-focused-player-highlight-width) + var(--sidebar-player-additional-stats-width));
	--sidebar-margin-to-focused-player: var(--viewport-margin-x);

	--sidebar-vertical-spacing: 0.5rem;
	--sidebar-overlay-vertical-spacing: var(--sidebar-vertical-spacing);
	--sidebar-left-overlay-vertical-spacing: var(--sidebar-overlay-vertical-spacing);
	--sidebar-right-overlay-vertical-spacing: var(--sidebar-overlay-vertical-spacing);

	--sidebar-team-grenades-width: var(--sidebar-player-width);
	--sidebar-team-equipment-width: var(--sidebar-player-width);

	/* Sidebar Players */
	--sidebar-player-width: calc(
		var(--sidebar-deaths-width)
		+ var(--sidebar-grenades-half-width)
		+ var(--sidebar-health-width)
		+ var(--sidebar-kills-width)
		+ var(--sidebar-money-width)
		+ var(--sidebar-observer-slot-width)
		+ var(--sidebar-primary-and-secondary-width)
		+ var(--sidebar-round-kills-width)
		+ var(--sidebar-start-and-end-width) * 2
		+ var(--sidebar-taser-width)
	);

	--sidebar-player-focused-player-highlight-width: 0.5rem;
	--sidebar-player-additional-stats-width: 14rem;
	--sidebar-player-row-height: 3rem;
	--sidebar-player-weapon-padding: 0.5rem;

	--sidebar-start-and-end-width: 0.5rem;
	--sidebar-health-width: 5rem;
	--sidebar-observer-slot-width: 1.5rem;
	--sidebar-money-width: 7rem;
	--sidebar-kills-width: 4.5rem;
	--sidebar-deaths-width: var(--sidebar-kills-width);
	--sidebar-taser-width: 3rem;
	--sidebar-grenades-half-width: 6rem;
	--sidebar-round-kills-width: 3rem;
	--sidebar-primary-and-secondary-width: 8rem;
}
