.utility {
	teamBackground(.5)
	line-height 1.9em

	display flex
	margin 1rem 0

	color #fff

	&.--right {
		flex-direction row-reverse
	}

	&:not(.--show-total-label) {
		.total .label-wrapper {
			max-width 0
		}
	}

	// kept for reference, can be used to color the grenade icons
	// &.--t path {
	// 	fill $t
	// }
	//
	// &.--ct path {
	// 	fill $ct
	// }

	.grenade {
		center()
		flex-grow 1
		text-shadow 0 0 1rem rgba(#000, .75)

		.img {
			center()
			margin 0 .5rem

			svg {
				height 1.25em
				filter drop-shadow(0 0 1rem rgba(#000, .75))
				transform translateY(-.125em)
			}
		}
	}

	.total {
		teamBackground()
		center()
		padding 0 1rem

		.number {
			width 2ch
		}

		.label-wrapper {
			max-width 4ch
			transition max-width .5s ease
			overflow hidden
		}
	}

	.count {
		width 2ch
		text-align right
	}
}
