.match-point-wrapper {
	max-height: var(--top-bar-row-height);
}

.match-point {
	height: var(--top-bar-row-height);

	font-weight: 700;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	font-size: 2.25rem;
}

.match-point.--ct {
	background: var(--counter-terrorists-fill-85);
}

.match-point.--t {
	background: var(--terrorists-fill-85);
}
