:root {
	/*
	 * Colors
	 */
	--background-color: green;
	--text-color: #fff;
	--red: #f00;
	--money-color: #9bae81;
	--round-money-spent-color: var(--red);

	--counter-terrorists-rgb: 29, 158, 222;
	--counter-terrorists: rgb(var(--counter-terrorists-rgb));
	--terrorists-rgb: 193, 136, 3;
	--terrorists: rgba(var(--terrorists-rgb));

	--progress-bar-fill-color-bomb: var(--red);

	--top-bar-maps-color: rgba(255, 255, 255, 0.5);

	--player-sidebar-good-kd-ratio-color: green;
	--player-sidebar-bad-kd-ratio-color: var(--red);

	/*
	 * Spacing, Sizes
	 */
	--scale-factor: 0.925925926vh; /* approximately 10px on 1080p */

	--focused-player-width: 50%;
	--focused-player-icon-height: 2rem;

	--top-bar-width: 50%;
	--top-bar-padding-x: 0.8rem;
	--top-bar-score-font-size: 3rem;
	--top-bar-row-height: calc(2 * var(--top-bar-padding-x) + var(--top-bar-score-font-size));
	--top-bar-half-row-height: calc(var(--top-bar-row-height) / 2);

	--player-sidebar-margin: var(--viewport-margin-x);
	--player-sidebar-focused-player-highlight-width: 0.5rem;
	--player-sidebar-additional-stats-width: 14rem;
	--player-sidebar-width: calc((100% - var(--focused-player-width)) / 2 - var(--player-sidebar-margin) * 2 + var(--player-sidebar-focused-player-highlight-width) + var(--player-sidebar-additional-stats-width));
	--player-sidebar-row-height: 3rem;

	/* Viewport Margin  */
	--viewport-margin-x: 2rem;
	--viewport-margin-y: 1.5rem;

	--viewport-margin-bottom: var(--viewport-margin-y);
	--viewport-margin-left: var(--viewport-margin-x);
	--viewport-margin-right: var(--viewport-margin-x);
	--viewport-margin-top: var(--viewport-margin-y);

	/*
	 * Polygons
	 */
	--polygon-left: polygon(0 0, 100% 0, 100% 100%);
	--polygon-right: polygon(0 0, 0 100%, 100% 100%);
	--polygon-left-inversed: polygon(100% 0, 100% 100%, 0 100%);
	--polygon-right-inversed: polygon(0 0, 0 100%, 100% 0);
	--polygon-bordered-by-diagonals: polygon(0 0, 100% 0, calc(100% - 1.5rem) 100%, 1.5rem 100%);

	/*
	 * Durations
	 */
	--fade-fast-duration: 0.1s;
	--fade-default-duration: 0.3s;
	--fade-slow-duration: 0.5s;

	/*
	 * Filters
	 */
	--filter-drop-shadow: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.4));

	/*
	 * Fonts
	 */
	--primary-font-family: 'Quantico';
	--fallback-font-family: 'Noto Sans';
	--font-family: var(--primary-font-family), var(--fallback-font-family), sans-serif;
}
