:root {
	/*
	 * Colors
	 */
	--background-color: green;
	--text-color: #fff;
	--red: #f00;
	--money-color: #9bae81;
	--round-money-spent-color: var(--red);

	--counter-terrorists-rgb: 29, 158, 222;
	--counter-terrorists: rgb(var(--counter-terrorists-rgb));
	--terrorists-rgb: 193, 136, 3;
	--terrorists: rgba(var(--terrorists-rgb));

	--progress-bar-fill-color-bomb: var(--red);

	--top-bar-maps-color: rgba(255, 255, 255, 0.5);

	--sidebar-good-kd-ratio-color: green;
	--sidebar-bad-kd-ratio-color: var(--red);

	/*
	 * Spacing, Sizes
	 */
	--scale-factor: 0.925925926vh; /* approximately 10px on 1080p */

	--focused-player-width: 50%;
	--focused-player-icon-height: 2rem;

	--top-bar-width: 50%;
	--top-bar-padding-x: 0.8rem;
	--top-bar-score-font-size: 3rem;
	--top-bar-row-height: calc(2 * var(--top-bar-padding-x) + var(--top-bar-score-font-size));
	--top-bar-half-row-height: calc(var(--top-bar-row-height) / 2);

	--sidebar-margin-to-focused-player: var(--viewport-margin-x);
	--sidebar-width: calc(var(--sidebar-player-width) + var(--sidebar-player-focused-player-highlight-width) + var(--sidebar-player-additional-stats-width));

	--sidebar-player-width: calc(
		var(--sidebar-deaths-width)
		+ var(--sidebar-grenades-half-width)
		+ var(--sidebar-health-width)
		+ var(--sidebar-kills-width)
		+ var(--sidebar-money-width)
		+ var(--sidebar-observer-slot-width)
		+ var(--sidebar-primary-and-secondary-width)
		+ var(--sidebar-round-kills-width)
		+ var(--sidebar-start-and-end-width) * 2
		+ var(--sidebar-taser-width)
	);

	--sidebar-player-focused-player-highlight-width: 0.5rem;
	--sidebar-player-additional-stats-width: 14rem;
	--sidebar-player-row-height: 3rem;
	--sidebar-player-weapon-padding: 0.5rem;

	--sidebar-start-and-end-width: 0.5rem;
	--sidebar-health-width: 5rem;
	--sidebar-observer-slot-width: 1.5rem;
	--sidebar-money-width: 7rem;
	--sidebar-kills-width: 4.5rem;
	--sidebar-deaths-width: var(--sidebar-kills-width);
	--sidebar-taser-width: 3rem;
	--sidebar-grenades-half-width: 6rem;
	--sidebar-round-kills-width: 3rem;
	--sidebar-primary-and-secondary-width: 8rem;

	/* Viewport Margin  */
	--viewport-margin-x: 2rem;
	--viewport-margin-y: 1.5rem;

	--viewport-margin-bottom: var(--viewport-margin-y);
	--viewport-margin-left: var(--viewport-margin-x);
	--viewport-margin-right: var(--viewport-margin-x);
	--viewport-margin-top: var(--viewport-margin-y);

	/*
	 * Polygons
	 */
	--polygon-left: polygon(0 0, 100% 0, 100% 100%);
	--polygon-right: polygon(0 0, 0 100%, 100% 100%);
	--polygon-left-inversed: polygon(100% 0, 100% 100%, 0 100%);
	--polygon-right-inversed: polygon(0 0, 0 100%, 100% 0);
	--polygon-bordered-by-diagonals: polygon(0 0, 100% 0, calc(100% - 1.5rem) 100%, 1.5rem 100%);

	/*
	 * Durations
	 */
	--fade-fast-duration: 0.1s;
	--fade-default-duration: 0.3s;
	--fade-slow-duration: 0.5s;

	/*
	 * Filters
	 */
	--filter-drop-shadow: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.4));

	/*
	 * Fonts
	 */
	--primary-font-family: 'Quantico';
	--fallback-font-family: 'Noto Sans';
	--font-family: var(--primary-font-family), var(--fallback-font-family), sans-serif;
}
