.sidebar {
	position: absolute;
	bottom: var(--viewport-margin-bottom);
	width: var(--sidebar-width);

	transition: transform var(--fade-slow-duration) ease;
}

.sidebar.--left {
	left: var(--viewport-margin-left);
}

.sidebar.--right {
	right: var(--viewport-margin-right);
}

.sidebar.--moved-upwards-by-series-graph {
	transform: translateY(calc(-1 * var(--series-graph-height) - var(--series-graph-margin-to-sidebars)));
}

.sidebar.--moved-upwards-by-round-graph {
	transform: translateY(calc(-1 * var(--round-graph-height) - var(--round-graph-margin-to-sidebars)));
}

img.overlay {
	display: block;
	width: var(--sidebar-player-width);
}

img.overlay.--left {
	margin-bottom: var(--sidebar-left-overlay-vertical-spacing);
}

img.overlay.--right {
	margin-left: auto;
	margin-bottom: var(--sidebar-right-overlay-vertical-spacing);
}
